*{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 50;
}
hr{
    border: 2px solid black;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}
nav{
    flex: 1;
    justify-content: flex-start;
    row-gap: 30px;
}
nav ul{
    display: inline-flex;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color:black
}
p{
    color: #000;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
header{
    background-color: white;
}
.left{
    float: left;
    display: flex;
    justify-content: baseline;
}
.right{
    float: right;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: space-around;
}
.search{
    float: right;
    padding: 6px;
    border: 2px;
    margin-top: 2px;
    margin-right: 5px;
    font-size: 12px;
    border: 1px solid #000;
    background-color: #000;
}
.search_bar{
    width:fit-content;
    background:white;
    display: flex;
    align-items: baseline;
    border-radius: 2px;
    padding: 2px 5px;
}
.search_bar input{
    flex: 1;
    border: 0;
    outline:transparent;
    padding: 1px 1px;
    font-size: 12px;
}
img{
    width: 300px;
    height: 500px;
}
.logo-image{
    width: 10px;
    height: 10px; 
}
.intro{
    display: flex;
    text-align: center;
    align-items: center;
}
.home{
    margin:3% auto;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0)),url(assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 0;
}
h1{
    margin: 2%;
    color: white;
    text-align: start;
    font-size: x-large;
}
h2{
    margin: 2%;
    color: white;
    text-align: end;
    font-size: x-large;
    font-style: thin;
}
h3{
    margin: 1%;
    font-size:xx-large;
}
p{
    margin: 4%;
    width: 50%;
}
.p_image{
    width: 100%;

}
footer{
    background-color: #BF7631;
}
.search_image{
    width: 25px;
    height: 25px;
}
.right_image{
    width: 400px;
    height: 500px;
}
.row1{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
.column1{
    flex: 50%;
    padding: 0 10px;
    margin-top: 10px;
   
}
.column2{
    flex: auto;
}
.mundo_bowls{
    width: 200px;
    height: 200px;
}
.natureza_vase{
    width: 200px;
    height: 200px;
}
.feira_bowls{
    width: 200px;
    height: 200px;
}
.natureza_pots{
    width: 200px;
    height: 200px;
}
.pedra_vase{
    width: 200px;
    height: 200px;
}
.viaja_pots{
    width: 200px;
    height: 200px;
}
.servico_plates{
    width: 200px;
    height: 200px;
}
.campeao_vase{
    width: 200px;
    height: 200px;
}
.troca_bowls{
    width: 200px;
    height: 200px;
}

